
body {
    margin: 0;
  }
  
  #heading-1 {
    color: #0f5e9e;
    text-align: center;
    background: rgb(166, 41, 16);
    background: linear-gradient(
      90deg,
      rgb(153, 40, 17) 28%,
      rgba(11, 165, 31, 1) 58%,
      rgb(238, 211, 4) 100%
    );
  }
  
  #heading-1 span {
    font-weight: bold;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
  }
  
  #container-1 {
    border-bottom: 1px solid black;
  }
  
  .section-1 {
    background-color: rgb(24, 171, 171);
    border: 5px solid orangered;
    border-radius: 10px;
    margin: 20px auto;
    width: 75%;
  }
  
  .section-1 ul {
    width: 20%;
    text-align: center;
    margin: auto;
  }
  
  .section-1 ul li {
    font-weight: 500;
  }
  
  .para {
    background-color: #5ae59b;
    border: 2px solid orangered;
    border-radius: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  
  .paragraphs p {
    margin: 0;
    padding: 3px;
    width: 400px;
    height: fit-content;
    font-weight: bold;
    background-color: aqua;
    text-align: center;
    border: 2px solid green;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  #heading-2 {
    color: #0d5c9d;
    margin: 25px 0;
    padding-bottom: 15px;
    text-align: center;
    background: rgb(228, 202, 6);
    background: radial-gradient(
      circle,
      rgb(232, 206, 8) 8%,
      rgb(165, 42, 17) 73%
    );
  }
  
  #heading-2 span {
    font-weight: bold;
    color: black;
    font-size: 17px;
    text-decoration: underline;
  }
  
  #boxes {
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    background: rgb(46, 80, 231);
    background: radial-gradient(
      ellipse,
      rgb(15, 54, 227) 30%,
      rgb(81, 188, 119) 90%
    );
  }
  
  .box {
    color: maroon;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    background-color: yellow;
    border: 2px solid orangered;
    border-radius: 10px;
    width: 200px;
  }
  
  .box span {
    display: block;
    padding-bottom: 15px;
  }
  
  table {
    width: 100%;
    margin: 30px 0;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  #heading {
    color: white;
    padding-bottom: 15px;
    background-color: #c5262e;
  }
  
  .cell {
    color: white;
    font-weight: 550px;
  }
  
  #cell-1 {
    background-color: #35df65;
    font-size: 25px;
    text-align: center;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
  }
  
  #cell-2 {
    background-color: #237ac6;
    font-size: 25px;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
  }
  
  #cell-3 {
    background-color: #5a3cd5;
    font-size: 20px;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
  }
  
  #cell-4 {
    background-color: #4c495c;
    text-decoration: underline;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }
  
  #cell-5 {
    background-color: #c78117;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
  }
  
  tfoot {
    font-weight:550px;
    font-size: 20px;
    background-color: #1b948c;
    text-align: center;
  }